* {margin: 3px;}

.main-container {
    width: 500px;
    height: 500px;
    border: 1px solid;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}

.header,.footer {
    background-color: aquamarine;
    flex-basis: 10%;

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.container2 {
    display: flex;
    flex-basis: 80%;
}

.aside {
    background-color: yellowgreen;
    flex-basis: 30%;

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.container3 {
    background-color: orange;
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    
}

.container4 {
    background-color: orange;
    flex-basis: 30%;

    display: flex;

    align-items: flex-end;
    justify-content: space-around;
    
}

.item {
    background-color: gold;
    width: 90px;
    height: 90px;
    justify-content: center;
    align-items: center;

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 25%;
}

#article {
    flex-basis: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    
}
