img{
    width: 250px;
}

/* transform : 변형 관련 속성 */

/* css 속성 작성시 크로스 브라우저(브라우저가 달라지는 경우) 처리방법 */
/* *모든 브라우저에서 사용하기 위해

-ms- : 마이크로소프트(익스플로어, 엣지)
-webkit- : 크롬, 사파리
-o- : 오페라
-moz- : 모질라(파이어폭스)

*/
.trans-x-2d:active{
    -ms-transform: translateX(100px);
    -webkit-transform: translateX(100px);
    -o-transform: translateX(100px);
    -moz-transform: translateX(100px);

    transform: translateX(100px);
}

.trans-y-2d:active{
    transform: translateY(-100px);
}

.trans-xy-2d:active{
    transform: translate(100px, -100px);
}

/* scale(배율) */
/* 가로방향 확대/축소 */

.trans-x-scale-2d:active{
    transform: scaleX(2);
    margin-left: 100px;
}

.trans-y-scale-2d:active{
    transform: scaleY(2);
}

.trans-xy-scale-2d:active{
    transform: scale(2, 2);
    margin: 150px 150px;
}

.trans-rotate:active{
    transform: rotate(180deg);
}

/* 3차원 */

.trans-3d:active{
    /* perspective(z축의 길이) : 원근법 적용 */
    transform: perspective(300px) translate3d(50px, 50px, 200px);
}

.trans-rotate-x-3d:active{
    transform: perspective(300px) rotateX(180deg);
}

.trans-rotate-y-3d:active{
    transition-duration: 1s;
    transform: perspective(300px) rotateY(90deg);
}

.trans-rotate-z-3d:active{
    transform: perspective(300px) rotateZ(45deg);
}

/*  */

.box{
    width: 150px;
    height: 150px;
    border: 1px solid;
    background-color: red;
    margin-bottom: 30px;
}

.test1:hover{
    background-color: yellow;
    transition-duration: 1s;
}

.test2:hover{
    transform: rotate(360deg);
    background-color: skyblue;
    transition-duration: 1s;
    border-radius: 100%;
}

.test3{
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
    /* ease 기본값 */
    /* ease-in, ease-out, linear */
}

.test3:hover{
    background-color: gray;
    transform: rotate(720deg);
}

.test4{
    transition-delay: 1s;
}

.test4:hover{
    transform: translateX(100px);
}